*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Sometype Mono', monospace;
  } 
  
  body { 
      background-color: white; 
      color: black; 
  }
  
  nav { 
      width: 100%; 
      height: 80px; 
      display: flex; 
      justify-content: space-between; 
      padding: 20px 5%; 
      background-color: #f3bd28; 
      float: right ;
  } 
  
  nav .heading { 
      font-size: 30px; 
      font-weight: 700; 
      color: rgb(252, 251, 229); 
  } 
  
  nav ul { 
      display: flex; 
      list-style: none; 
  } 
  
  nav ul li { 
      padding: 8px 15px; 
      border-radius: 10px; 
      transition: 0.2s ease-in; 
  } 
  
  nav ul li a { 
      color: black; 
      font-size: 20px; 
      font-weight: 500; 
      text-decoration: none; 
      color: white; 
  } 
  
  nav ul li:hover { 
      background-color: #d5a114; 
  } 
  
  nav ul li a:hover { 
      color: white; 
  } 
  
  nav .sideMenuButton { 
      font-size: 30px; 
      font-weight: bolder; 
      cursor: pointer; 
      display: none; 
  } 
  
  .frame{
      width: 600px;
      height: 450px;
      margin: auto;
      padding: 15px 10px;
  }
  img {
      width: 100%;
      height: 100%;
  }
  div button{ 
      font-size: 18px; 
      margin-top: 8px; 
      margin-bottom: 5px; 
      font-weight: bolder;
      padding: 10px 20px; 
      border-radius: 10px; 
      color: rgb(187, 163, 25); 
      font-size: 16px; 
      border-style: none; 
      font-weight: 700; 
  }